.counter {
    color: #4cb3de;
    display: inline-block;
    font-size: 5vh;
    font-weight: bold;
    padding-top: 33px;
    padding-bottom: 33px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.setMode {
    display: inline-block;
    color: #4cb3de;

    font-size: 2vh;
    font-weight: normal;
    padding-top: 50px;
    padding-bottom: 50px;
}
.red {
    color: red;

    font-size: 2vh;
    font-weight: normal;
}